@model BrokerNetwork.WebSite.Models.LoginModel
@{
    ViewBag.Title = "استعادة كلمة المرور";
}
<div class="container">
    <div class="row content-center">
        <div class="col-sm-12">
            <p>
                <img class="content-image-icon" src="~/img/login.png" />
            </p>
            <h3>استعادة كلمة المرور</h3>
            <p>من فضلك ادخل البريد الالكترونى وسوف يتم ارسال كلمة المرور</p>
            @using (Html.BeginForm("ForgetPassword", "Users", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group ">
                            <label class="inline-label">
                                البريد الالكترونى
                            </label>
                            <div class="form-group">
                                @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control" } })
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <br />
                        <input class="btn custom-btn" type="submit" value="استعادة كلمة المرور" />
                        <a href="Login" class="btn custom-btn2">تسجيل الدخول</a>
                    </div>
                </div>
            }
            @{
                string msg = ViewBag.Msg;
                if (!string.IsNullOrEmpty(msg))
                {
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert @ViewBag.alert">
                                @msg
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}