@model List<BrokerNetwork.Models.Company>
@{
    ViewBag.Title = "الشركات";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">@ViewBag.Title</h3>
    </div>
    <div class="card-block">
        @foreach (var item in Model)
        {
            <div class="row hori-rpt">
                <div class="col-md-3">
                    <a href="/CompanyDetails/@item.CompanyID">
                            <img onerror='this.src = "/img/default.jpg"' class="img-thumbnail" src="~/Uploads/CompanyProfile/@item.ImgPath" />
                    </a>
                </div>

                <div class="col-md-9">
                    <h4 class="full-width">
                        <a href="/CompanyDetails/@item.CompanyID">@item.CompanyName</a>
                    </h4>
                    تاريخ الإضافة: &nbsp;<span class="en-number"> @string.Format("{0: d/M/yyyy}", item.EntryDate)</span>
                    <br />
                    @Html.DisplayFor(modelItem => item.CompanyDesc)
                </div>
            </div>
            <hr class="repeated-hr" />
        }


    </div>
</div>

